.content {
  grid-area: c;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.imgMain {
  width: 100%;
  height: 150px;
}

.itemProfile,.profile-user-img {
  padding: 10px;
}
.profile-link {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  width: 150px;
}
.profile-link:hover{
background-color: rgb(240, 26, 26);
color: rgb(255, 255, 255);
}