
.nav{
  grid-area: n;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: wheat;
  /* color: white; */
  padding: 10px;
  font-family: 'Titillium Web', sans-serif
}
.nav a{
  text-decoration: none;
  color: rgb(247, 90, 90);
  font-size: 20px;
  cursor: pointer;
}
.nav .active{
  /* transform: scale(1.5); */
  color: rgb(37, 140, 153);
  font-size: 22px;
}